.brandcircle {
    display: inline-block;
    background: #000;
    padding: 6px;
    border-radius: 50%;
    margin: 0 4px;
    font-weight: bold;
    font-family: monospace;
}

.navbar-brand {
    padding: 7px 15px;
}
