<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">arrow<span class="brandcircle">=></span>dev</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class='nav navbar-nav navbar-right'>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span> Home
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/projects']">
                <span class='glyphicon glyphicon-folder-open'></span> Projects
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/about']">
                <span class='glyphicon glyphicon-info-sign'></span> About
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a href="#" onClick="return false;" (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
                <span class='glyphicon glyphicon-user'></span> Login
            </a>
            <a href="#" onClick="return false;" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
                <span class='glyphicon glyphicon-user'></span> Logout
            </a>
        </li>
    </ul>
    </div>
  </div>
</nav>
