<h1>Ryan Arrowsmith - Software Developer</h1>
<div class="jumbotron">
    <img src="/img/ryan.jpg" alt="Profile Picture" class="img-circle img-responsive">
    <p>Experienced Electrician/Graduate programmer with a broad range of knowledge looking for an exciting career in software development.<br>Experience in full stack .NET development with a strong understanding of object oriented design and highly proficient in C#</p>
    <h2>Skills</h2>
    <ul>
        <li>ASP.NET MVC and CORE</li>
        <li>Entity Framework code first</li>
        <li>Cross platform development with Xamarin.Forms</li>
        <li>Native Android development</li>
        <li>Angular2</li>
        <li>Typescript</li>
        <li>Azure</li>
        <li>Excellent organization skills</li>
        <li>Great Communicator</li>
        <li>Self motivated, can work alone or in a team enviroment</li>
        <li>Electrical installions, fault finding and repairs</li>
    </ul>
    <h2>Hobbies/Interests</h2>
    <ul>        
        <li>DIY</li>
        <li>Outdoors</li>
        <li>Playing guitar</li>
        <li>Snowboarding</li>
        <li>Riding dirt bikes</li>
        <li>Programming</li>
        <li>Working on cars/bikes</li>
        <li>Video games</li>
        <li>Movies</li>
    </ul>
</div>