<div class="jumbotron text-center">
    <h1>Ryan Arrowsmith</h1>
    <h2>Software Developer</h2>
    <img src="/img/ryan.jpg" alt="Profile Picture" class="img-circle img-responsive center-block profile-img">
    <div class="row">
        <div class="col-md-8 col-md-offset-2"> 
<p>Experienced Electrician/Graduate programmer with a broad range of knowledge looking for an exciting career in software development.</p>
    <p>Experience in full stack .NET development with a strong understanding of object oriented design and highly proficient in C#</p>
        </div>
    </div>
    
</div>
<div>
    <div class="row">
        <div class="col-md-6">
            <h2>Skills</h2>
            <ul class="list-group">
                <li class="list-group-item">ASP.NET MVC and CORE</li>
                <li class="list-group-item">Entity Framework code first</li>
                <li class="list-group-item">Cross platform development with Xamarin.Forms</li>
                <li class="list-group-item">Native Android development</li>
                <li class="list-group-item">Angular2</li>
                <li class="list-group-item">Typescript</li>
                <li class="list-group-item">Azure</li>
                <li class="list-group-item">Excellent organization skills</li>
                <li class="list-group-item">Great Communicator</li>
                <li class="list-group-item">Self motivated, ability to work alone or in a team environment</li>
                <li class="list-group-item">Electrical installions, fault finding and repairs</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Hobbies/Interests</h2>
            <ul class="list-group">        
                <li class="list-group-item">DIY</li>
                <li class="list-group-item">Outdoors</li>
                <li class="list-group-item">Playing guitar</li>
                <li class="list-group-item">Snowboarding</li>
                <li class="list-group-item">Riding dirt bikes</li>
                <li class="list-group-item">Programming</li>
                <li class="list-group-item">Working on cars/bikes</li>
                <li class="list-group-item">Video games</li>
                <li class="list-group-item">Movies</li>
            </ul>
        </div>               
    </div>
</div>